.pad{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-flow: row nowrap;
    font-family: "宋体", "楷体", "华文宋体";

    transition-duration: 0.2s;
}
.dark.pad{
    background-color: rgb(165, 165, 165);
}
/* 左侧列表样式 */
.pad_list{
    width: 200px;
    margin: 0 10px 0 0;
    word-break: break-all;

    display: flex;
    flex-flow: column nowrap;

    overflow: auto;
}
.pad_box{
    position: relative;
    margin: 5px 5px 5px 5px;
    
    border-radius: 3px;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.pad_add{
    min-height: 40px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    font-size: 15px;
    color:rgb(148, 148, 148);
}

.pad_des{
    margin: 5px 25px 5px 8px;

    color:rgb(10, 10, 10);
    transition-duration: 0.2s;
}
.dark .pad_des{color:rgb(230, 230, 230);}

.pad_time{
    height: 20px;
    margin: 0 0 3px 8px;

    color: rgb(90, 90, 90);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    cursor: default;
}
.dark .pad_time{color: rgb(128, 128, 128);}

.pad_remove{
    position: absolute;
    right: 5px; top: 5px;
}
.pad_remove i{
    font-size: 16px;
    color:rgb(10, 10, 10);
}
.dark .pad_remove i{color:rgb(230, 230, 230);}

/* 右侧编辑区样式 */
.pad_editor{
    position: relative;
    margin: 0 10px 0 0;

    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}
.pad_editor:after{
    position: absolute;
    left: 0; right: 0;
    top: 35px; bottom: 0;

    content: "请从左侧选择笔记以编辑";
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    font-size: 25px;
    color:rgb(148, 148, 148);
}
.pad_editor.active:after{display: none;}

.editor_tools{
    position: relative;
    margin: 5px 0 7px 0;
    min-height: 35px;

    border-radius: 3px;

    display: flex;
    flex-flow: row nowrap;
}
.pad_type{
    position: absolute;
    width: 40px;
    right: 5px; top: 0; bottom: 0;
    
    cursor: pointer;
    font-size: 20px;
    color:rgb(10, 10, 10);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
.dark .pad_type{color: rgb(255, 255, 255);}

.editor_area{
    margin: 0 0 7px 0;
    flex-grow: 1;
}
.editor_des{
    height: 40px;
}
.editor_h{
    margin: 0 0 0 5px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.editor_btn{
    height: 40px;
    display: flex;
    flex-flow: row-reverse nowrap;
}
.editor_btn div{
    width: 90px;
    margin: 5px 0 0 25px;

    border-radius: 5px;
    cursor: pointer;
}
.editor_save{
    color:rgb(255, 255, 255);
    background-color: rgb(14, 144, 210);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
.editor_cancle{
    color:rgb(245, 245, 245);
    background-color: rgb(148, 148, 148);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

textarea{
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    border: none;

    border-radius: 3px;
    font-size: 16px;
}
.dark textarea{color: rgb(230, 230, 230);}
.pad_box_style{
    transition-duration: 0.2s;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(51, 51, 51, 0.2) 1px 1.5px 1px;
}
.dark .pad_box_style{
    background-color: rgb(51, 51, 51);
    box-shadow: rgba(7, 7, 7, 0.2) 1px 1.5px 1px;
}
.pad_box_style.active{
    box-shadow: rgb(14, 144, 210) 0px 0px 1px 1.5px;
}
.dark .pad_box_style.active{
    box-shadow: rgb(31, 111, 235) 0px 0px 1px 2px;
}
.pad_btn{transition-duration: 0.2s;}
.pad_btn:hover{background-color:rgb(206, 206, 206);}
.dark .pad_btn:hover{background-color:rgb(110, 110, 110);}