.pad_list{
    display: flex;
    flex-flow: column nowrap;
}
.pad_box{
    width: 200px;
    min-height: 50px;
    margin: 5px 5px 5px 5px;
    
    border-radius: 3px;
    background-color: #333;

    display: flex;
    flex-flow: column nowrap;
}
.pad_des{
    margin: 3px 0 3px 5px;

    color: #d3d3d3;
    transition-duration: 0.2s;
}
.pad_time{
    height: 20px;
    margin: 0 0 2px 5px;

    color: #808080;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    cursor: default;
}
.pad_box:hover .pad_des{color: #ffffff;}